PORT=5000
MONGO_URI=mongodb+srv://vatsarun:arun0905@cluster0.quv1onm.mongodb.net/
GNEWS_API_KEY=b685e601f24ec882adc6c275cb4d8a69
SIGHTENGINE_API_USER=423603153
SIGHTENGINE_API_SECRET=hb9GP3D6iksmCinVCwbTSxERiNbiHUMw
PUTER_AUTH_TOKEN=
PUTER_MODEL=gpt-5.4-nano
PUTER_ENABLE_INTERACTIVE_AUTH=false
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
