PORT=5000
MONGODB_URI=
MONGODB_DB_NAME=DeepTrust
MONGODB_VECTOR_INDEX=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.8-flash
MAX_AGENT_ITERATIONS=3
MAX_AGENT_TOOL_CALLS=5
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
SIGHTENGINE_API_USER=
SIGHTENGINE_API_SECRET=
